/* styling for navbar */
.nav-link {
    text-decoration: none;
    color: var(--basic-color);
    font-size: 25px;
}

/* hamburger */
nav .nav-menu-icon {
    font-size: 30px;
    display: none;
    color: var(--basic-color);
}


/* nav */
nav {
    display: flex;
    flex-direction: row;
    height: 20%;
}

nav .nav-items{
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-logo {
    display: block;
    height: 80px;
}

.brand-img {
    flex: 1;
    margin: auto;
}

.brand-img .nav-logo img {
    height: 100%;
    width: auto;
}


/* nav button */
.nav-button {
    background-color: var(--button-bg-primary);
    border: none;
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    cursor: pointer;
}