/* media queries for handling responsive designs */



/* 400px till infinite width */
@media screen and ( min-width: 400px ){
    body{
        background: pink;
    }
}

/* 0 to 800px */
@media screen and (max-width: 800px) {
    body {
        background: orangered;
    }
}

/* only for screens between 400px to 800px */
@media screen and (min-width: 400px) and (max-width: 800px) {
    body {
        background: crimson;
    }
}